@inherits LayoutComponentBase

<PageTitle>Blazor Blog</PageTitle>

<div class="page">
    <div class="container-fluid bg-success bg-opacity-75 ">
        <TopNavBar />
    </div>
    <div class="container-fluid mb-5">
        @Body
    </div>
    <footer class="fixed-bottom text-center d-flex align-items-center justify-content-center footer">
        <p class="mb-0 py-2">Blog App built using Blazor Server by <a
                href="https://linkedin.com/in/jpastolfi"><strong>João Pedro Astolfi</strong></a></p>
    </footer>
</div>