@inherits LayoutComponentBase

<PageTitle>Blazor Blog</PageTitle>

<div class="page">
    <div class="container-fluid bg-main">
        <TopNavBar />
    </div>
    <div class="container-fluid">
        @Body
    </div>
    <footer class="fixed-bottom text-center d-flex align-items-center justify-content-center footer">
        <p class="mb-0 py-2">Blog App built using Blazor Server by <a href=""><strong>jpastolfi</strong></a></p>
    </footer>
</div>