@inherits LayoutComponentBase

<PageTitle>Blazor Blog</PageTitle>

<div class="page">
    @*<TopNavBar />*@
    <div class="container-fluid">
        @Body
    </div>
    <footer>
        <p>Blog App built using Blazor Server by <a href=""><strong>jpastolfi</strong></a></p>
    </footer>
</div>
