@page "/about"

<div class="container text-center">
  <p class="lead">Hello there. Thanks for visiting!</p>
  <h1>About this project</h1>
  <p>This project has been developed using Blazor, Bootstrap, .Net, Entity Framework, a MS SQL database and Docker. It has been both a challenging and a pleasant experience. I can say I learned a lot of new things during this project, specially because it's my first ever Blazor application.</p>
  <p>This project has been developed using Blazor, Bootstrap, .Net, Entity Framework, a MS SQL database and Docker. It has been both a challenging and a pleasant experience. I can say I learned a lot of new things during this project, specially because it's my first Blazor project.</p>
  <h1>About me</h1>
  <p>My name is João Pedro and I'm a fullstack developer. I started studying web development with the famous trio (HTML, CSS and JS) but actually found something I really enjoyed when I discovered object-oriented languages such as C# and Java. Blazor made it even better due to how logical and intuitive it all seems.</p> 
  <p>I'm based in Lisbon and currently looking for a job as a frontend (React), backend (Node.js, C#) or fullstack developer. </p>
</div>