@page "/"

<PageTitle>Lastest posts</PageTitle>

<div class="container">
  <div class="row">
    <div class="col-sm-3">Blog posts</div>
    <div class="col-sm-3">Categories</div>
  </div>

</div>
