@* @inject CategoryService CategoryService;

<h3>Categories</h3>
<hr>
<ul class="list-unstyled ">
@foreach (var category in categories)
{
string categoryPostsLink = $"/c/{category.Slug}/posts";
<li class="mb-1 border-bottom p-1">
<NavLink href="@categoryPostsLink" class="text-decoration-none fs-6 py-2 d-block text-truncate">
@category.Name</NavLink>
</li>
}
</ul>

@code {
private IEnumerable<Category> categories = Enumerable.Empty<Category>();
protected override async Task OnInitializedAsync()
{
if (!categories.Any())
{
categories = await CategoryService.GetCategories();
}
}
}
*@